*, *:before, *:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, button {
  border: 0;
  border-radius: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a, label, p {
  color: #666666;
}

a:hover {
  color: #337AB7;
}

header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  border: 0;
  z-index: 9999;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  width: 1220px;
  padding: 15px;
  margin: 0 auto;
  align-items: center;
  font-size: 16px;
}
header .wrapper .logo {
  height: 70px;
  width: auto;
}
header .wrapper .menu li {
  display: inline;
  padding: 20px;
}
header .wrapper .header-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
header .wrapper .wrapper-button {
  display: none;
}
header .wrapper .burger-icon {
  background-color: #337AB7;
  color: #FFFFFF;
  margin: 5px 10px;
  border-radius: 3px;
}
header .wrapper .burger-line {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 4px 0;
  transition: 0.4s;
}
header .wrapper .burger-menu {
  background-color: #FFFFFF;
  position: absolute;
  top: var(--menu-top, -350%);
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  left: 0;
  padding: 0;
  border: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: top 0.5s ease;
}
header .wrapper .burger-menu nav li {
  padding: 10px;
}
header .wrapper .burger-menu.active {
  top: var(--header-height);
}
@media only all and (max-width: 1024px) {
  header .wrapper .menu {
    display: none;
  }
  header .wrapper .header-content {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .wrapper .logo {
    height: 60px;
  }
  header .wrapper .wrapper-button {
    display: block;
  }
}

.form {
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
.form .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.form .int-text {
  padding-top: 12%;
  order: 1;
  height: auto;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}
.form .int-text .title {
  color: #000000;
  font-weight: bold;
  font-size: 34px;
}
.form .int-text .info {
  font-size: 18px;
  line-height: 1.7;
  margin-left: 51px;
  margin-right: 51px;
}
.form .reg-form {
  order: 2;
  height: auto;
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
.form .reg-form p {
  color: #000000;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}
.form .reg-form label {
  text-align: left;
}
.form .reg-form img {
  height: 10px;
  width: auto;
  padding-left: 2.5px;
}
.form .reg-form input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 15px;
}
.form .reg-form input:focus {
  outline: 0;
}
.form .reg-form input:focus:invalid {
  border: solid 1px #337AB7;
  box-shadow: 0 0 5px #337AB7;
}
.form .reg-form .politic {
  display: flex;
  align-items: center;
}
.form .reg-form .politic input {
  margin-top: 15px;
  font-size: 12px;
  width: auto;
  height: 18px;
  margin-right: 10px;
}
.form .reg-form .politic a {
  padding-left: 5px;
  color: #337AB7;
}
.form .reg-form button {
  font-size: 16px;
  width: 60%;
  margin: auto;
  margin-bottom: 2.5%;
  margin-top: 5%;
  display: block;
}
@media only screen and (max-width: 1220px) {
  .form .form {
    flex-direction: column;
  }
  .form .int-text {
    width: 75%;
    order: 1;
    padding: 0;
    margin: 0 auto;
  }
  .form .reg-form {
    order: 2;
    width: 75%;
    padding: 0;
    margin: 0 auto;
  }
}
@media only all and (max-width: 768px) {
  .form .int-text .title {
    font-size: 30px;
  }
  .form .reg-form p {
    font-size: 22px;
  }
  .form .reg-form button {
    font-size: 14px;
  }
}
@media only all and (max-width: 490px) {
  .form .int-text {
    width: 100%;
    order: 1;
  }
  .form .int-text .title {
    font-size: 24px;
  }
  .form .int-text .info {
    margin: 0;
    font-size: 14px;
  }
  .form .reg-form {
    order: 2;
    width: 100%;
  }
}

.offers {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  border: 0;
}
.offers .wrapper {
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
.offers .wrapper p {
  padding: 0;
  color: #000000;
  font-size: 36px;
}
.offers .wrapper #wrapper-content {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}
.offers .wrapper #wrapper-content #wrapper-icons, .offers .wrapper #wrapper-content [id^=slick-slide], .offers .wrapper #wrapper-content .slick-slide {
  display: flex;
  flex-direction: column;
}
.offers .wrapper #wrapper-content #wrapper-icons p, .offers .wrapper #wrapper-content [id^=slick-slide] p, .offers .wrapper #wrapper-content .slick-slide p {
  color: #666666;
}
.offers .wrapper #wrapper-content #wrapper-icons .offers-title, .offers .wrapper #wrapper-content [id^=slick-slide] .offers-title, .offers .wrapper #wrapper-content .slick-slide .offers-title {
  font-size: 23px;
}
.offers .wrapper #wrapper-content #wrapper-icons hr, .offers .wrapper #wrapper-content [id^=slick-slide] hr, .offers .wrapper #wrapper-content .slick-slide hr {
  width: 100%;
  border: 0;
  background-color: #337AB7;
  height: 2px;
}
.offers .wrapper #wrapper-content #wrapper-icons .offers-dis, .offers .wrapper #wrapper-content [id^=slick-slide] .offers-dis, .offers .wrapper #wrapper-content .slick-slide .offers-dis {
  height: 100px;
  font-size: 18px;
}
@media only screen and (max-width: 1220px) {
  .offers .wrapper .wrapper-content #wrapper-icons, .offers .wrapper .wrapper-content [id^=slick-slide], .offers .wrapper .wrapper-content .slick-slide {
    margin-left: 25px;
    margin-right: 25px;
  }
  .offers .wrapper .wrapper-content #wrapper-icons .offers-title, .offers .wrapper .wrapper-content [id^=slick-slide] .offers-title, .offers .wrapper .wrapper-content .slick-slide .offers-title {
    height: 15px;
    font-size: 20px;
  }
  .offers .wrapper .wrapper-content #wrapper-icons .offers-dis, .offers .wrapper .wrapper-content [id^=slick-slide] .offers-dis, .offers .wrapper .wrapper-content .slick-slide .offers-dis {
    font-size: 15px;
  }
}
@media only all and (max-width: 1024px) {
  .offers .wrapper #wrapper-content #wrapper-icons, .offers .wrapper #wrapper-content [id^=slick-slide], .offers .wrapper #wrapper-content .slick-slide {
    margin-left: 25px;
    margin-right: 25px;
  }
  .offers .wrapper #wrapper-content #wrapper-icons .offers-title, .offers .wrapper #wrapper-content [id^=slick-slide] .offers-title, .offers .wrapper #wrapper-content .slick-slide .offers-title {
    height: 35px;
    font-size: 20px;
  }
  .offers .wrapper #wrapper-content #wrapper-icons .offers-dis, .offers .wrapper #wrapper-content [id^=slick-slide] .offers-dis, .offers .wrapper #wrapper-content .slick-slide .offers-dis {
    font-size: 15px;
  }
}
.offers .slick-slide {
  margin-bottom: 40px;
}
@media only all and (max-width: 850px) {
  .offers #wrapper-content {
    max-width: 870px;
  }
}
@media only all and (max-width: 600px) {
  .offers .wrapper p {
    font-size: 21px;
  }
  .offers #wrapper-content {
    max-width: 620px;
  }
}

.advantage {
  width: 100%;
  background-color: #337AB7;
  display: flex;
  border: 0;
}
.advantage .wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.advantage .wrapper .advantage-content {
  align-items: center;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.advantage .wrapper .advantage-content img {
  height: 65px;
  width: 85px;
  margin-bottom: 25px;
}
.advantage .wrapper .advantage-content p {
  margin: 0;
  color: #FFFFFF;
  white-space: nowrap;
}
.advantage .wrapper .advantage-content .number {
  font-size: 26px;
  margin-bottom: 10px;
}
.advantage .wrapper .advantage-content .des {
  text-align: center;
}
@media only all and (max-width: 600px) {
  .advantage .wrapper .advantage-content .wrapper-advantage {
    margin-left: 15px;
    margin-right: 15px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage img {
    height: 55px;
    width: 75px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage .number {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage .des {
    white-space: wrap;
    font-size: 14px;
  }
}
@media only all and (max-width: 490px) {
  .advantage .wrapper .advantage-content .wrapper-advantage {
    width: 125px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage img {
    height: 55px;
    width: 75px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage .number {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage .des {
    font-size: 12px;
  }
}

.review {
  display: flex;
  max-width: 100%;
}
.review .wrapper {
  max-width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.review .wrapper .title-review {
  font-size: 36px;
  color: #000000;
  margin-bottom: 10px;
}
.review .wrapper .review-content {
  max-width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}
.review .wrapper .review-content p {
  margin: 0;
}
.review .wrapper .review-content blockquote {
  padding: 5px;
  quotes: none;
  text-align: center;
  margin-bottom: 20px;
}
.review .wrapper .review-content #left {
  font-size: 24px;
  position: absolute;
  left: 2%;
  color: #666666;
}
.review .wrapper .review-content #right {
  font-size: 24px;
  position: absolute;
  left: 97%;
  top: 50%;
  color: #666666;
}
.review .wrapper .review-content .slide-review {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .wrapper .review-content .slide-review .text-review {
  font-size: 22px;
}
.review .wrapper .review-content .slide-review .author {
  color: #000000;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.review .wrapper .review-content .slide-review .job {
  font-style: italic;
}
@media only all and (max-width: 1024px) {
  .review .review-content #left {
    left: 1%;
    font-size: 24px;
  }
  .review .review-content #right {
    font-size: 24px;
    left: 97%;
    top: 50%;
  }
}
@media only all and (max-width: 850px) {
  .review .review-content #right {
    font-size: 24px !important;
    left: 93% !important;
    top: 62% !important;
  }
}
@media only all and (max-width: 490px) {
  .review .review-content blockquote .text-review {
    font-size: 18px !important;
  }
  .review .review-content #left {
    font-size: 24px;
    left: 2%;
  }
  .review .review-content #right {
    font-size: 24px;
    left: 89% !important;
    top: 70% !important;
  }
}
@media only all and (max-width: 390px) {
  .review .review-content #left {
    font-size: 24px;
    left: 2%;
  }
  .review .review-content #right {
    font-size: 24px;
    left: 87% !important;
    top: 74% !important;
  }
}
@media only all and (max-width: 350px) {
  .review .title-review {
    font-size: 28px !important;
  }
  .review .review-content blockquote .text-review {
    font-size: 16px !important;
  }
  .review .review-content #left {
    font-size: 20px !important;
    left: 9% !important;
  }
  .review .review-content #right {
    font-size: 20px !important;
    left: 87% !important;
    top: 74% !important;
  }
}

.video {
  background-color: #F7F7F7;
}
.video .wrapper {
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.video .wrapper .title-block {
  font-size: 36px;
  margin-bottom: 5px;
  color: #000000;
}
.video .wrapper .interest-text {
  padding-left: 35px;
  padding-right: 35px;
  max-width: 100%;
}
.video .wrapper .video-container {
  width: 100%;
  max-width: 1020px;
  height: 0;
  max-height: 512px;
  padding-bottom: 56.25%;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.video .wrapper .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only all and (max-width: 600px) {
  .video .wrapper .title-block {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .video .wrapper .interest-text {
    padding: 0;
  }
}

.mentors {
  width: 100%;
}
.mentors .wrapper {
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.mentors .wrapper .mentors-title {
  font-size: 36px;
  color: #000000;
  margin-bottom: 10px;
}
.mentors .wrapper .slide {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.mentors .wrapper .slide img {
  height: 390px;
  width: auto;
}
.mentors .wrapper .slide hr {
  margin-bottom: 35px;
}
.mentors .wrapper .slide .slider-text {
  margin-left: 85px;
}
.mentors .wrapper .slide .slider-text .name {
  font-size: 20px;
  font-weight: bold;
  color: #337AB7;
}
.mentors .wrapper .slide .slider-text p {
  font-size: 18px;
}
.mentors .wrapper .slick-list {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px !important;
}
@media only all and (max-width: 1024px) {
  .mentors .slide {
    display: flex;
    flex-direction: row;
  }
  .mentors .slide img {
    margin-top: 15px !important;
  }
  .mentors .slide p {
    font-size: 17px !important;
  }
}
@media only all and (max-width: 850px) {
  .mentors .slide {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .mentors .slide img {
    margin-top: 15px !important;
  }
  .mentors .slide hr {
    margin-bottom: 35px;
  }
  .mentors .slide .slider-text {
    margin-left: 0px !important;
  }
  .mentors .slide .slider-text .name {
    font-size: 18px !important;
  }
  .mentors .slide .slider-text p {
    font-size: 16px !important;
  }
}
@media only all and (max-width: 600px) {
  .mentors .slide {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .mentors .slide img {
    width: 250px !important;
    height: 270px !important;
    margin-top: 15px !important;
  }
  .mentors .slide hr {
    margin-bottom: 35px;
  }
  .mentors .slide .slider-text {
    margin-left: 0px !important;
  }
  .mentors .slide .slider-text .name {
    font-size: 16px !important;
  }
  .mentors .slide .slider-text p {
    font-size: 14px !important;
  }
}

.map {
  height: 400px;
  max-width: 100%;
}
.map iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.our-contact {
  width: 100%;
  display: flex;
  background-color: #337AB7;
}
.our-contact .wrapper {
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.our-contact .wrapper .wrapper-contact {
  align-items: center;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.our-contact .wrapper .wrapper-contact .wrapper-advantage {
  width: 180px;
}
.our-contact .wrapper .wrapper-contact .wrapper-advantage p, .our-contact .wrapper .wrapper-contact .wrapper-advantage a {
  color: #FFFFFF;
}
.our-contact .wrapper .wrapper-contact .wrapper-advantage p {
  font-weight: bold;
}
@media only all and (max-width: 850px) {
  .our-contact .wrapper-contact .wrapper-advantage {
    width: 150px !important;
  }
  .our-contact .wrapper-contact .wrapper-advantage img {
    width: 35px;
    height: 35px;
  }
  .our-contact .wrapper-contact .wrapper-advantage p, .our-contact .wrapper-contact .wrapper-advantage a {
    font-size: 12px;
  }
}
@media only all and (max-width: 600px) {
  .our-contact .wrapper-contact .wrapper-advantage {
    margin-left: 15px;
    margin-right: 15px;
    width: 140px !important;
  }
  .our-contact .wrapper-contact .wrapper-advantage img {
    width: 35px;
    height: 35px;
  }
  .our-contact .wrapper-contact .wrapper-advantage p, .our-contact .wrapper-contact .wrapper-advantage a {
    font-size: 12px;
  }
}
@media only all and (max-width: 350px) {
  .our-contact .wrapper-contact .wrapper-advantage {
    margin-left: 15px;
    margin-right: 15px;
    width: 115px !important;
  }
  .our-contact .wrapper-contact .wrapper-advantage img {
    width: 30px;
    height: 30px;
  }
  .our-contact .wrapper-contact .wrapper-advantage p, .our-contact .wrapper-contact .wrapper-advantage a {
    font-size: 10px;
  }
}

footer {
  background-color: #F7F7F7;
  margin-top: auto;
}
footer .wrapper {
  max-width: 100%;
  text-align: center;
  flex-direction: column;
}
footer .wrapper p {
  margin: 0;
}
footer .wrapper .politics {
  margin-top: 45px;
  margin-bottom: 15px;
  color: #337AB7;
}
footer .wrapper .link-politics {
  margin-bottom: 45px;
}

.wrapper {
  width: 1220px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}

button {
  background-color: #337AB7;
  border: 0px;
  border-radius: 10px;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
}

#wrapper-icons, .offers .slick-slide, .offers [id^=slick-slide] {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-width: 100%;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.slick-track {
  position: relative;
  left: 0;
  margin-bottom: 15px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-dots li button:before {
  font-size: 8px !important;
}

@media only all and (max-width: 850px) {
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }

  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  .slick-track {
    position: relative;
    left: 0;
    margin-bottom: 15px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
  }

  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }

  .slick-dots li button:before {
    font-size: 12px !important;
  }
}
.wrapper-advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-left: 45px;
  margin-right: 45px;
  width: 200px;
}