*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, button {
  border: 0;
  border-radius: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a, label, p {
  color: #666666;
}

a:hover {
  color: #337AB7;
}

header {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  border: 0;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  width: 1220px;
  padding: 15px;
  margin: 0 auto;
  align-items: center;
  font-size: 16px;
  z-index: 2;
}
header .wrapper .logo {
  height: 70px;
  width: auto;
}
header .wrapper .menu li {
  display: inline;
  padding: 20px;
}
header .wrapper .header-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
header .wrapper .wrapper-button {
  display: none;
}
header .wrapper .burger-icon {
  background-color: #337AB7;
  color: #FFFFFF;
  margin: 5px 10px;
  border-radius: 3px;
}
header .wrapper .burger-line {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 4px 0;
  transition: 0.4s;
}
header .wrapper .burger-menu {
  display: none;
}
header .wrapper .burger-menu.menu-open {
  top: 0;
}
@media only all and (max-width: 1024px) {
  header .wrapper .menu {
    display: none;
  }
  header .wrapper .header-content {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .wrapper .logo {
    height: 60px;
  }
  header .wrapper .wrapper-button {
    display: block;
  }
}

.form {
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
.form .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.form .int-text {
  padding-top: 12%;
  order: 1;
  height: auto;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}
.form .int-text .title {
  color: #000000;
  font-weight: bold;
  font-size: 34px;
}
.form .int-text .info {
  font-size: 18px;
  line-height: 1.7;
  margin-left: 51px;
  margin-right: 51px;
}
.form .reg-form {
  order: 2;
  height: auto;
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
.form .reg-form p {
  color: #000000;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}
.form .reg-form label {
  text-align: left;
}
.form .reg-form img {
  height: 10px;
  width: auto;
  padding-left: 2.5px;
}
.form .reg-form input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 15px;
}
.form .reg-form .politic {
  display: flex;
  align-items: center;
}
.form .reg-form .politic input {
  margin-top: 15px;
  font-size: 12px;
  width: auto;
  height: 18px;
  margin-right: 10px;
}
.form .reg-form .politic a {
  padding-left: 5px;
  color: #337AB7;
}
.form .reg-form button {
  font-size: 16px;
  width: 60%;
  margin: auto;
  margin-bottom: 2.5%;
  margin-top: 5%;
  display: block;
}
@media only screen and (max-width: 1220px) {
  .form .form {
    flex-direction: column;
  }
  .form .int-text {
    width: 75%;
    order: 1;
    padding: 0;
    margin: 0 auto;
  }
  .form .reg-form {
    order: 2;
    width: 75%;
    padding: 0;
    margin: 0 auto;
  }
}
@media only all and (max-width: 768px) {
  .form .int-text .title {
    font-size: 30px;
  }
  .form .reg-form p {
    font-size: 22px;
  }
  .form .reg-form button {
    font-size: 14px;
  }
}
@media only all and (max-width: 490px) {
  .form .int-text {
    width: 100%;
    order: 1;
  }
  .form .int-text .title {
    font-size: 24px;
  }
  .form .int-text .info {
    margin: 0;
    font-size: 14px;
  }
  .form .reg-form {
    order: 2;
    width: 100%;
  }
}

.offers {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  border: 0;
}
.offers .wrapper {
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
.offers .wrapper p {
  padding: 0;
  color: #000000;
  font-size: 36px;
}
.offers .wrapper #wrapper-content {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}
.offers .wrapper #wrapper-content #wrapper-icons, .offers .wrapper #wrapper-content [id^=slick-slide], .offers .wrapper #wrapper-content .slick-slide {
  display: flex;
  flex-direction: column;
}
.offers .wrapper #wrapper-content #wrapper-icons p, .offers .wrapper #wrapper-content [id^=slick-slide] p, .offers .wrapper #wrapper-content .slick-slide p {
  color: #666666;
}
.offers .wrapper #wrapper-content #wrapper-icons .offers-title, .offers .wrapper #wrapper-content [id^=slick-slide] .offers-title, .offers .wrapper #wrapper-content .slick-slide .offers-title {
  font-size: 23px;
}
.offers .wrapper #wrapper-content #wrapper-icons hr, .offers .wrapper #wrapper-content [id^=slick-slide] hr, .offers .wrapper #wrapper-content .slick-slide hr {
  width: 100%;
  border: 0;
  background-color: #337AB7;
  height: 2px;
}
.offers .wrapper #wrapper-content #wrapper-icons .offers-dis, .offers .wrapper #wrapper-content [id^=slick-slide] .offers-dis, .offers .wrapper #wrapper-content .slick-slide .offers-dis {
  height: 100px;
  font-size: 18px;
}
@media only screen and (max-width: 1220px) {
  .offers .wrapper .wrapper-content #wrapper-icons, .offers .wrapper .wrapper-content [id^=slick-slide], .offers .wrapper .wrapper-content .slick-slide {
    margin-left: 25px;
    margin-right: 25px;
  }
  .offers .wrapper .wrapper-content #wrapper-icons .offers-title, .offers .wrapper .wrapper-content [id^=slick-slide] .offers-title, .offers .wrapper .wrapper-content .slick-slide .offers-title {
    height: 15px;
    font-size: 20px;
  }
  .offers .wrapper .wrapper-content #wrapper-icons .offers-dis, .offers .wrapper .wrapper-content [id^=slick-slide] .offers-dis, .offers .wrapper .wrapper-content .slick-slide .offers-dis {
    font-size: 15px;
  }
}
@media only all and (max-width: 1024px) {
  .offers .wrapper #wrapper-content #wrapper-icons, .offers .wrapper #wrapper-content [id^=slick-slide], .offers .wrapper #wrapper-content .slick-slide {
    margin-left: 25px;
    margin-right: 25px;
  }
  .offers .wrapper #wrapper-content #wrapper-icons .offers-title, .offers .wrapper #wrapper-content [id^=slick-slide] .offers-title, .offers .wrapper #wrapper-content .slick-slide .offers-title {
    height: 35px;
    font-size: 20px;
  }
  .offers .wrapper #wrapper-content #wrapper-icons .offers-dis, .offers .wrapper #wrapper-content [id^=slick-slide] .offers-dis, .offers .wrapper #wrapper-content .slick-slide .offers-dis {
    font-size: 15px;
  }
}
.offers .slick-slide {
  margin-bottom: 40px;
}
@media only all and (max-width: 850px) {
  .offers #wrapper-content {
    max-width: 870px;
  }
}
@media only all and (max-width: 600px) {
  .offers .wrapper p {
    font-size: 21px;
  }
  .offers #wrapper-content {
    max-width: 620px;
  }
}

.advantage {
  width: 100%;
  background-color: #337AB7;
  display: flex;
  border: 0;
}
.advantage .wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.advantage .wrapper .advantage-content {
  align-items: center;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.advantage .wrapper .advantage-content img {
  height: 65px;
  width: 85px;
  margin-bottom: 25px;
}
.advantage .wrapper .advantage-content p {
  margin: 0;
  color: #FFFFFF;
  white-space: nowrap;
}
.advantage .wrapper .advantage-content .number {
  font-size: 26px;
  margin-bottom: 10px;
}
.advantage .wrapper .advantage-content .des {
  text-align: center;
}
@media only all and (max-width: 600px) {
  .advantage .wrapper .advantage-content .wrapper-advantage {
    margin-left: 15px;
    margin-right: 15px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage img {
    height: 55px;
    width: 75px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage .number {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage .des {
    white-space: wrap;
    font-size: 14px;
  }
}
@media only all and (max-width: 490px) {
  .advantage .wrapper .advantage-content .wrapper-advantage {
    width: 125px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage img {
    height: 55px;
    width: 75px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage .number {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .advantage .wrapper .advantage-content .wrapper-advantage .des {
    font-size: 12px;
  }
}

.map iframe {
  height: 400px;
  width: 100%;
  border: none;
}

.wrapper {
  width: 1220px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}

button {
  background-color: #337AB7;
  border: 0px;
  border-radius: 10px;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
}

#wrapper-icons, .offers .slick-slide, .offers [id^=slick-slide] {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}

@media only all and (max-width: 850px) {
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }

  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  .slick-track {
    position: relative;
    left: 0;
    margin-bottom: 15px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
  }

  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }

  .slick-dots li button:before {
    font-size: 8px !important;
  }
}
.wrapper-advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-left: 45px;
  margin-right: 45px;
  width: 200px;
}