@import "abstracts/abstracts-dir"; 

.mentors {
    width: 100%;

    .wrapper {
        max-width: 100%;
        flex-direction: column;
        align-items: center;

        .mentors-title {
            font-size: 36px;
            color: #000000;
            margin-bottom: 10px;
        }

        .slide {
            display: flex;
            flex-direction: row;
            max-width: 100%;
            margin-left: 10px;
            margin-right: 10px;

            img {
                height: 390px;
                width: auto;
            }

            hr {
                margin-bottom: 35px;
            }

            .slider-text {
                margin-left: 85px;

                .name {
                    font-size: 20px;
                    font-weight: bold;
                    color: $accent-color;
                }

                p {
                    font-size: 18px;
                }
            }
        }
        
        .slick-list {
            box-sizing: border-box;
            overflow: hidden;
            padding: 0px !important;
        }
    }

    @include lg {
        .slide {
            display: flex;
            flex-direction: row;

            img {
                margin-top: 15px !important;
            }

            p {
                font-size: 17px !important; 
            }
        }
    }

    @include two {
        .slide {
            display: flex;
            flex-direction: column !important;
            align-items: center;
            text-align: center;

            img {
                margin-top: 15px !important;
            }

            hr {
                margin-bottom: 35px;
            }

            .slider-text {
                margin-left: 0px !important;

                .name {
                    font-size: 18px !important;
                }

                p {
                    font-size: 16px !important;
                }
            }
        }
    }

    @include one {
        .slide {
            display: flex;
            flex-direction: column !important;
            align-items: center;
            text-align: center;

            img {
                width: 250px !important;
                height: 270px !important;
                margin-top: 15px !important;
            }

            hr {
                margin-bottom: 35px;
            }

            .slider-text {
                margin-left: 0px !important;

                .name {
                    font-size: 16px !important;
                }

                p {
                    font-size: 14px !important;
                }
            }
        }
    }
}