@import "abstracts/abstracts-dir"; 

.our-contact {
    width: 100%;
    display: flex;
    background-color: $accent-color;

    .wrapper {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        .wrapper-contact {
            align-items: center;
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;

            .wrapper-advantage {
                width: 180px;

                p, a {
                    color: $primary-color;
                }

                p {
                    font-weight: bold;
                }
            }
        }
    }

    @include two {
        .wrapper-contact {
            .wrapper-advantage {
                width: 150px !important;

                img {
                    width: 35px;
                    height: 35px;
                }

                p, a {
                    font-size: 12px;
                }
            }
        }
    }

    @include one {
        .wrapper-contact {
            .wrapper-advantage {
                margin-left: 15px;
                margin-right: 15px;
                width: 140px !important;

                img {
                    width: 35px;
                    height: 35px;
                }

                p, a {
                    font-size: 12px;
                }
            }
        }
    }

    @include vvs {
        .wrapper-contact {
            .wrapper-advantage {
                margin-left: 15px;
                margin-right: 15px;
                width: 115px !important;

                img {
                    width: 30px;
                    height: 30px;
                }

                p, a {
                    font-size: 10px;
                }
            }
        }
    }
}