@import "abstracts/abstracts-dir";

.review {
    display: flex;
    max-width: 100%;

    .wrapper {
        max-width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .title-review {
            font-size: 36px;
            color: #000000;
            margin-bottom: 10px;
        }

        .review-content {
            max-width: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex;

            p {
                margin: 0;
            }

            blockquote {
                padding: 5px;
                quotes: none;
                text-align: center;
                margin-bottom: 20px;
            }

            #left {
                font-size: 24px;
                position: absolute;
                left: 2%;
                color: $primary-text-color;
            }

            #right {
                font-size: 24px;
                position: absolute;
                left: 97%;
                top: 50%;
                color: $primary-text-color;
            }

            .slide-review {
                margin-bottom: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .text-review {
                    font-size: 22px;
                }

                .author {
                    color: #000000;
                    font-size: 18px;
                    margin-top: 15px;
                    margin-bottom: 5px;
                }

                .job {
                    font-style: italic;
                }
            }
        }
    }

    @include lg {
        .review-content {
            #left {
                left: 1%;
                font-size: 24px;
            }

            #right {
                font-size: 24px;
                left: 97%;
                top: 50%;
            }
        }
    }

    @include two {
        .review-content {
            #right {
                font-size: 24px !important;
                left: 93% !important;
                top: 62% !important;
            }
        }
    }

    @include sm {
        .review-content {
            blockquote {
                .text-review {
                    font-size: 18px !important;
                }
            }

            #left {
                font-size: 24px;
                position: absolute;
                left: 2%;
                color: $primary-text-color;
            }

            #right {
                font-size: 24px;
                position: absolute;
                left: 97%;
                top: 50%;
                color: $primary-text-color;
            }
        }
    }
}