@import "abstracts/abstracts-dir"; 

.video {
    background-color: $second-color;

    .wrapper {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title-block {
            font-size: 36px;
            margin-bottom: 5px;
            color: #000000;
        }

        .interest-text {
            padding-left: 35px;
            padding-right: 35px;
            max-width: 100%;
        }

        .video-container {
            width: 100%;
            max-width: 1020px;
            height: 0;
            max-height: 512px;
            padding-bottom: 40%;
            margin-bottom: 35px;
            position: relative;
            overflow: hidden;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        } 
    }

    @include one {
        .wrapper {
            .title-block {
                font-size: 24px;
                margin-bottom: 5px;
            }
    
            .interest-text {
                padding: 0;
            }
        }
    }
}