@import "abstracts/variables/color";

.form {
    width: 100%;
    background-color: $second-color;

    .form-content {
        width: 1220px;
        padding: 15px;
        margin: 0 auto;
        display: flex;
    }
}