@import "abstracts/abstracts-dir";

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    max-width: 100%;
}

.slick-dots {
    li {
        button:before {
            font-size: 8px !important;
        }
    }
}

@include two {
    .slick-dots {
        li {
            button:before {
                font-size: 12px !important;
            }
        }
    }
}